body {
    background-color: #520b85;
    margin-top: 5%;
    color: #e9cdff;
}

.btn {
    background-color: #54b7c0;
    border: 1px solid #1c454a;
    padding: 20px 30px;
    position: relative;
}
